.profilePage {

    .tab {
        padding: 0 14px;
        display: flex;

        .activeTab {
            color: #ff944e;
            border-bottom: 2px solid #ff944e;
        }
        
        > div{
            width: 50%;
            text-align: center;
            padding: 10px;
        }
    }

  
}