.bottomButton {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #4b60bc;
    border-radius: 8px;
    position: fixed;
    width: 100%;
    bottom: 68px;
    color: #fff;

    .bottomButtonText {
        align-self: center;
    }

    .askNow {
        background: #fff;
        color: #4b60bc;
        border: 2px solid black;
        border-radius: 9px;
        padding: 4px 15px;
    }
}