.myProfileContainer {
    background: #fafafa;;
    padding: 10px;
    height: 90vh;
    .subTab {
        display: flex;
        background: #fff;
        padding: 1px 0;
        font-size: 14px;
        margin-bottom: 20px;

        .activeSubTab {
            background: #ff944e;
            border-radius: 5px;
            color: #fff;
        }
        
        > div{
            padding: 14px 2px;
            width: 50%;
            text-align: center;
        }
    }
    .addNewProfile {
        text-align: center;
        padding: 50px 0px;   

        .addNewProfileButton {
            padding: 8px;
            color: #fff;
            background: #ff944e;
            border: none;
            border-radius: 6px;
        }
    }

    .formHeader {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        
        .backButton {
            width: 2px;
            border-bottom: 2.5px solid;
            height: 2px;
            border-left: 2.5px solid;
            padding: 6px;
            transform: rotate(45deg);
            margin: 0 20px;
        }
    }
}