.aboutAskQuestionContainer {
    padding: 10px;
    padding-bottom: 160px;

    .aboutText {
        margin-bottom: 20px;
    }

    .listContainer {
        background: #ffefe2;
        color: #f28e23;
        padding: 14px 0;

        ul {
            padding-left: 26px;
            margin-bottom: 0;
        }
    }
}