.profileWalletBar {
    display: flex;
    background: #e1e3f1;
    padding: 16px;
    border-radius: 10px;
    gap: 12px;

    .walletIcon {
        height: 30px;
    }
    .profileWalletBalance {
        color: #6375c3;   
        align-self: center;
    }

    .profileAddMoney {
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 10px;
        background: #fff;
        color: #495fbc;
        font-weight: 600;
    }
}