.bodyContainer {
    padding: 10px;

    .descriptionContainer {
        padding-bottom: 16px;
    }
    .title {
        font-weight: 800;
        padding-bottom: 8px;
    }
    
    .description {
        font-size: 14px;
    }

    select {
        width: 100%;
        height: 30px;
        border: solid 1px rgba(0, 0, 0, 0.03);
        border-radius: 0% 0% 0% 0%/0% 0% 0% 0%;
        box-shadow: 3px 3px rgb(0 0 0 / 15%);
        transition: all 0.4s ease;
        margin-bottom: 14px;
    }

    .textareaContainer {
        margin-bottom: 20px;
        
        textarea {
            resize: none;
            width: 100%;
            height: 90px;
            border: 1px solid gray;
            border-radius: 4px;
        }

        .characterCount {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
        }
    }

    .suggestions {
        .suggestion {
            display: flex;
            padding: 8px 0;
            border-bottom: 1px solid grey;
            
            .icon{

                .diamond-narrow {
                    width: 0;
                    height: 0;
                    border: 12px solid transparent;
                    border-bottom: 15px solid #f28e23;
                    position: absolute;
                    z-index: -1;
                    margin-top: -17px;
                    
                    .question-mark {
                        top: 3px;
                        position: relative;
                        z-index: 9;
                        left: -7px;
                        color: #fff;
                    }
                }
                .diamond-narrow:after {
                    content: "";
                    position: absolute;
                    left: -12px;
                    top: 15px;
                    width: 0;
                    height: 0;
                    border: 12px solid transparent;
                    border-top: 15px solid #f28e23;
                }
            }

            .suggestionText {
                margin-left: 35px;
            }
        }
    }
}